<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <div>Username:{{.Username}}</div>
    <div>Username:{{.ProfileImage}}</div>
    <div>
        <img src="{{.ProfileImage}}" height="130" width="130">
    </div>
    <div>
        <form enctype="multipart/form-data" action="/user/{{.Username}}/" method="POST">
            <label>Nickname:</label>
            <input type="text" name="nickname" value="{{.Nickname}}" />
            <input type="file" name="profile_image" />
            <input type="submit" value="Update" />
        </form>
    </div>
</body>
</html>
